.card {
  flex: 1;
  max-inline-size: 26.625rem;
  min-inline-size: 26.625rem;
  box-sizing: border-box;
  padding-inline: 2rem;
  padding-block-start: 8rem;
  padding-block-end: 2rem;
  border-radius: .5rem;
  text-align: center;
  position: relative;
  background: var(--white);
  box-shadow: 0 .25rem 2.75rem 0 rgba(0, 0, 0, 0.10);
}

.card-img {
  inline-size: 6.25rem;
  aspect-ratio: 1/1;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card img {
  inline-size: 100%;
  block-size: 100%;
  vertical-align: middle;
}

.card-description {
  block-size: 13.1875rem;
  color: var(--black);
  overflow-y: auto;
}

.card-user {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.card-user span:nth-of-type(1) {
  font: var(--body1-bold);
  color: var(--black);
}

@media screen and (max-width: 655px) {
  .card {
    flex: none;
    max-inline-size: 100%;
    min-inline-size: 100%;
  }
}