.fast-img {
  margin-block-start: 4rem;
}

.fast-description {
  padding-block: 4rem;
  padding-inline: 1.25rem;
  background: var(--grey10);
}

.fast-description::after {
  content: " ";
  display: block;
  block-size: var(--blocksizePhone);
  inline-size: auto;
  margin-block-start: 4rem;
  background-position: center;
}

.webp .fast-description::after {
  background: url(../img/iphone-small.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.avif .fast-description::after {
  background: url(../img/iphone-small.avif);
  background-repeat: no-repeat;
  background-position: center;
}

.notavif.notwebp .fast-description::after {
  background: url(../img/iphone-small.png);
  background-repeat: no-repeat;
  background-position: center;
}

.fast-title {
  color: var(--black);
  margin: 0;
  margin-block-end: 1rem;
}

.fast-text {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .fast {
    grid-row: 2;
    padding-block: 2rem;
  }

  .fast-img {
    margin-block-start: 5rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  .fast-description {
    background: var(--transparent);
    max-inline-size: 38.1875rem;
  }

  .fast-description::after {
    content: none;
  }
}

@media screen and (min-width: 1366px) {
  .fast-img {
    margin-block-start: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .fast-img {
    margin-block-start: 8rem;
  }
}
