@media screen and (min-width: 1024px) {
  .insetGrid {
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: var(--templateColumns);
    grid-template-areas: ". phone contenido .";
  }

  .insetGrid-content {
    grid-area: contenido;
  }
}
