@import "./inset-grid.css";

:root {
  --maxinlinesizePhone: 25rem;
  --templateColumns: 1fr var(--maxinlinesizePhone) 600px 1fr;
}

@media screen and (min-width: 1024px) {
  .page {
    display: grid;
    grid-template-columns: 1fr var(--maxinlinesizePhone) 600px 1fr;
    grid-template-areas: ". phone . .";
  }
}
