.phone {
  margin-block-start: calc(var(--blocksizePhone) / 2 * -1);
  text-align: center;
}

.phone-img {
  block-size: var(--blocksizePhone);
  inline-size: auto;
}

@media screen and (min-width: 1024px) {
  .phone {
    margin-block-start: 0;
    grid-area: iphone;
    aspect-ratio: 9/16;
    position: sticky;
    inset-block-start: 250px;
    /* border: 10px solid blue; */
  }

  .phone-img {
    inline-size: 100%;
    block-size: auto;
  }
}
