.phone {
  margin-block-start: calc(var(--blocksizePhone) / 2 * -1);
  text-align: center;
}

.phone-img {
  block-size: var(--blocksizePhone);
  inline-size: auto;
}

@media screen and (min-width: 1024px) {
  .phone {
    margin-block-start: 0;
    grid-area: iphone;
    position: sticky;
    inset-block-start: 50px;
    z-index: 3;
    margin-block-start: 127px;
  }

  .phone-img {
    max-inline-size: none;
    inline-size: 100%;
    block-size: auto;
  }
}
