.sellers {
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}

.webp .sellers {
  background: url(../img/plant.webp) no-repeat bottom right/cover;
}

.avif .sellers {
  background: url(../img/plant.avif) no-repeat bottom right/cover;
}

.notavif.notwebp .sellers {
  background: url(../img/plant.png) no-repeat bottom right/cover;
}

.sellers-description {
  padding-inline: 1.5rem;
}

.sellers-description::after {
  content: " ";
  display: block;
  block-size: var(--blocksizePhone);
  inline-size: auto;
  margin-block-start: 4rem;
  background-size: contain;
}

.webp .sellers-description::after {
  background: url(../img/iphone-small.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.avif .sellers-description::after {
  background: url(../img/iphone-small.avif);
  background-repeat: no-repeat;
  background-position: center;
}

.notavif.notwebp .sellers-description::after {
  background: url(../img/iphone-small.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sellers-title {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .sellers {
    block-size: 28.125rem;
  }

  .sellers-content {
    display: flex;
    align-items: center;
  }

  .sellers-description {
    max-inline-size: 28.4375rem;
  }

  .sellers .sellers-description::after {
    content: none;
  }
}

@media screen and (min-width: 1366px) {
  .sellers {
    block-size: 40.625rem;
  }
}

@media screen and (min-width: 1440px) {
  .sellers {
    block-size: 48.4375rem;
  }
}
